{
	"check-coverage": true,
	"cache": false,
	"exclude": [
		"**/*.spec.tsx",
		"**/*.spec.ts",
		"dist",
		"coverage"
	],
	"extension": [
		".tsx"
	],
	"reporter": [
		"html",
		"text",
		"text-summary"
	]
}
