{
	"check-coverage": true,
	"all": true,
	"include": [
		"src/**/*"
	],
	"exclude": [
		"**/*.spec.tsx",
		"**/*.spec.ts"
	],
	"extension": [
		".ts",
		".tsx"
	],
	"reporter": [
		"html",
		"text",
		"text-summary"
	]
}
