{
	"check-coverage": true,
	"lines": 100,
	"branches": 100,
	"functions": 100,
	"statements": 100,
	"all": true,
	"include": [
		"src/**/*"
	],
	"exclude": [
		"**/*.spec.tsx",
		"**/*.spec.ts"
	],
	"extension": [
		".ts",
		".tsx"
	],
	"reporter": [
		"html",
		"text",
		"text-summary"
	]
}
