section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	div {
		flex-grow: 1;

		label {
			display: block;
		}
	}
}

label span {
	display: block;
	opacity: 0.5;
}

pre {
	font-family: 'Courier New', Courier, monospace;
	background: #eee;
	padding: 0.5em;
	border: 1px soid #999;
}

button {
	border: none;
	padding: 0.25em;
	font-family: 'Courier New', Courier, monospace;

	&.selected {
		background: blue;
		color: #fff;
	}
}
