@import '../../node_modules/source-sans-pro/source-sans-pro.css';

$codeFont: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

$pageWidth: 768px;

nav {
	background: #333;
	color: #fff;

	a {
		color: #fff;
	}

	a:hover {
		color: #e66465;
	}

	ul {
		display: block;
		text-align: right;

		li {
			list-style: none;
			display: inline-block;

			a {
				display: block;
				padding: 0.75em 1em;
			}
		}
	}
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	padding: 0;
	margin: 0;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header {
	background: linear-gradient(#e66465, #9198e5);
	color: #fff;
	padding: 1.5em 0;

	div {
		padding: 0.5em;
		box-sizing: border-box;
	}

	h1 {
		font-weight: 400;
		padding: 0;
		margin-top: 0;
		margin-bottom: 0.75em;
	}

	p {
		margin-bottom: 0;
		font-style: italic;
		opacity: 0.8;
	}
}

footer {
	opacity: 0.75;

	&:hover {
		opacity: 0.9;
	}

	margin-top: 2em;
	padding: 2em 0;

	background: #f4f4f4;
}

header div,
#demo-container,
nav ul {
	max-width: $pageWidth;
	margin: 0 auto;
}

#demo-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	section {
		flex-grow: 1;
		max-width: 100%;
		padding: 0 0.5em;
	}

	header {
		width: 100%;
	}

	h2 {
		font-weight: 600;
	}

	.value {
		font-size: 0.7em;
		font-weight: normal;
		float: right;
		padding: 0.25em 0;
		display: block;
		white-space: nowrap;
	}
}

section#demo-panel {
	width: 100%;
	margin: 0;

	> div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		clear: both;
	}

	#gender-label {
		margin-right: 1em;
		padding: 0.5em;

		em {
			opacity: 0.5;
			display: block;
			font-size: 0.8em;
		}
	}

	#component-demo {
		flex-grow: 1;
		color: rgb(12, 45, 34);
		background: rgba(0, 0, 0, 0.008);
		line-height: 1.5;
		padding: 0.5em;
		border-radius: 0.3em;
		box-shadow: 0 0 4px rgba(12, 45, 34, 0.15);

		label {
			display: block;
			padding-left: 1.5em;
			position: relative;

			input {
				position: absolute;
				left: 0;
			}
		}

		select {
			font-size: 0.75em;
			margin: 0.25em;
			margin-left: 2em;
		}
	}
}

#parameters .prop-toggle {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 0.25em;

	.toggle {
		text-align: right;
		flex-grow: 1;

		button {
			border: none;
			padding: 0.25em 0.5em;
			font-family: $codeFont;
			background: rgba(100, 100, 100, 0.05);

			&.selected {
				background: #e66465;
				color: #fff;
			}
		}
	}
}

span.code,
span.version {
	font-family: $codeFont;
	display: inline-block;
	background: #eee;
	padding: 0.25em 0.5em;
}

code,
.code {
	font-size: 0.8em;
}

span.version {
	font-size: 0.5em;
	opacity: 0.5;
	margin: 0.25em;
	vertical-align: middle;
}

footer {
	text-align: center;
	width: 100%;
}

noscript {
	display: block;
	padding: 5em 0;
	text-align: center;
	max-width: $pageWidth - 250px;
	margin: 0 auto;

	h1 {
		color: #e66465;
		font-weight: 700;
		margin-bottom: 2em;
	}
}
